@import url(https://fonts.googleapis.com/css?family=Lato);

.navbar {
  height: 50px;
  background-color: blue;
  color: White;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
}

.listItem {
  margin-right: 20px;
  font-weight: 500;
  cursor: pointer;
}

.login {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 60%;
  height: 75%;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginButton {
  width: 150px;
  padding: 15px 25px;
  border-radius: 5px;
  color: white;
}

.google {
  background-color: #df4930;
}

.link {
  color: inherit;
  text-decoration: none;
}

.form {
  display: flex;
  justify-content: center;
}

input {
  margin-top: 20px;
}

.container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.map-container {
  height: 400px;
  }
   
.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}
form {
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 10px;
}
/* FORM */
form {
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 10px;
}
.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.modal-buttons button {
  flex-basis: 48%;
}
/*
TIMELINE
*/

.timeline {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}

.timeline::after {
  background-color: #e17b77;
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
}
