@import url(https://fonts.googleapis.com/css?family=Lato);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0px;
  font-family: 'Roboto';
  text-align: center;
}

.navbar {
  height: 60px;
  background-color: #0000ff;
  color: #ffffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
}

.listItem {
  margin-right: 20px;
  font-weight: 500;
  cursor: pointer;
}

.login {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 60%;
  height: 75%;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginButton {
  width: 150px;
  padding: 15px 25px;
  border-radius: 5px;
  color: white;
}

.google {
  background-color: #df4930;
}

.link {
  color: inherit;
  text-decoration: none;
}

/* .container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
} */

.form__container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  align-items: center;
  width: 50%;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

.form__button .submit {
  margin-right: 100px;
}

.form__input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid gray;
}

.form__button {
  padding: 10px;
  border: none;
  background-color: blue;
  color: #fff;
  cursor: pointer;
  font-size: 28px;
}

.form__button__submit {
  padding: 10px;
  border: none;
  background-color: red;
  color: #fff;
  cursor: pointer;
  font-size: 28px;
  margin-top: 30px;
}

.submit {
  margin-right: 10px;
}

input {
  margin-top: 20px;
}

/* .container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
} */

.map-container {
  height: 600px;
  width: 90%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  }


   
.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}
h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 10px;
}
/* FORM */
form {
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 10px;
}
/* .modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
} */

/* .modal-buttons button {
  flex-basis: 48%;
} */
.s-button {
  margin-right: 5px;
}

.c-button {
  margin-left: 5px;
}
.y-button {
  margin-right: 5px;
}

.n-button {
  margin-left: 5px;
}
/*
TIMELINE
*/

* {
  box-sizing: border-box;
}

#root {
  width: 100%;
}

.timeline-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 40px auto;
  max-height: 600px;
  max-width: 75%;
  overflow-y: scroll;
}

.timeline-container::after {
  background-color: blue;
  content: '';
  position: absolute;
  left: calc(50% - 2px);
  width: 4px;
  height: 21000px;
}

.timeline-item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  margin: 10px 0;
  width: 50%;
}

.timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-right: 0px;
  padding-left: 30px;
}

.timeline-item-content {
  background-color:rgb(199, 191, 191);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  padding: 15px;
  max-width: 70%;
  width: 400px;
  text-align: right;
}

.timeline-item-content::after {
  content: '';
  background-color: rgb(199, 191, 191);
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  transform: rotate(45deg);
  right: -7.5px;
  top: calc(50% - 7.5px);
  width: 15px;
  height: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content {
  align-items: flex-start;
  text-align: left;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
  right: auto;
  left: -7.5px;
}

.timeline-item-content .type-text {
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  letter-spacing: 1px;
  top: 5px;
  left: 5px;
  text-transform: uppercase;
}

.timeline-item:nth-child(odd) .timeline-item-content .type-text {
  left: auto;
  right: 5px;
}

/* .timeline-item-content .time-create {
  color: #8a5351;
  font-size: 12px;
} */

.timeline-item-content .time-create .timeline-zip .disposition .block-address {
  font-size: 16px;
  line-height: 24px;
  margin: 15px 0;
  max-width: 250px;
}

.timeline-item-content .circle {
  background-color: #fff;
  border: 3px solid #32378d;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  right: -40px;
  width: 20px;
  height: 20px;
  z-index: 100;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
  right: auto;
  left: -40px;
}




form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}

.s-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}
.menu,
.charts {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Top level */
.menu {			
	margin: 50px auto;
	width: 800px;
	width: fit-content;	
}

.menu > li {
  z-index: 1;
	background: #34495e;
	float: left;
	position: relative;
	transform: skewX(25deg);
}

.menu a {
	display: block;
	color: #fff;
	text-decoration: none;
	font-family: Arial, Helvetica;
	font-size: 14px;
}		

.menu li:hover {
	background: #e74c3c;
}		

.menu > li > a {
	transform: skewX(-25deg);
	padding: 1em 2em;
}

/* Dropdown */
.charts {
  z-index: 2;
	position: absolute;
	width: 200px;
	left: 50%; margin-left: -100px;
	transform: skewX(-25deg);
	transform-origin: left top;
}

.charts li {
	background-color: #34495e;
	position: relative;
	overflow: hidden;		
}						

.charts > li > a {
	padding: 1em 2em;			
}

.charts > li::after {
  z-index: 3;
	content: '';
	position: absolute;
	top: -125%;
	height: 100%;
	width: 100%;			
	box-shadow: 0 0 50px rgba(0, 0, 0, .9);			
}		

/* Odd numbered entries */
.charts > li:nth-child(odd){
	transform: skewX(-25deg) translateX(0);
}

.charts > li:nth-child(odd) > a {
	transform: skewX(25deg);
}

.charts > li:nth-child(odd)::after {
	right: -50%;
	transform: skewX(-25deg) rotate(3deg);
}				

/* Even numbered entries */
.charts > li:nth-child(even){
	transform: skewX(25deg) translateX(0);
}

.charts > li:nth-child(even) > a {
	transform: skewX(-25deg);
}

.charts > li:nth-child(even)::after {
	left: -50%;
	transform: skewX(25deg) rotate(3deg);
}

/* Showing dropdown */
.charts,
.charts li {
	opacity: 0;
	visibility: hidden;			
}

.charts li {
	transition: .2s ease-out transform;
}

.menu > li:hover .charts,
.menu > li:hover .charts li {
	opacity: 1;
	visibility: visible;
}		

.menu > li:hover .charts li:nth-child(even){
	transform: skewX(25deg) translateX(15px);			
}

.menu > li:hover .charts li:nth-child(odd){
	transform: skewX(-25deg) translateX(-15px);			
}