.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}
.menu,
.charts {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Top level */
.menu {			
	margin: 50px auto;
	width: 800px;
	width: fit-content;	
}

.menu > li {
  z-index: 1;
	background: #34495e;
	float: left;
	position: relative;
	transform: skewX(25deg);
}

.menu a {
	display: block;
	color: #fff;
	text-decoration: none;
	font-family: Arial, Helvetica;
	font-size: 14px;
}		

.menu li:hover {
	background: #e74c3c;
}		

.menu > li > a {
	transform: skewX(-25deg);
	padding: 1em 2em;
}

/* Dropdown */
.charts {
  z-index: 2;
	position: absolute;
	width: 200px;
	left: 50%; margin-left: -100px;
	transform: skewX(-25deg);
	transform-origin: left top;
}

.charts li {
	background-color: #34495e;
	position: relative;
	overflow: hidden;		
}						

.charts > li > a {
	padding: 1em 2em;			
}

.charts > li::after {
  z-index: 3;
	content: '';
	position: absolute;
	top: -125%;
	height: 100%;
	width: 100%;			
	box-shadow: 0 0 50px rgba(0, 0, 0, .9);			
}		

/* Odd numbered entries */
.charts > li:nth-child(odd){
	transform: skewX(-25deg) translateX(0);
}

.charts > li:nth-child(odd) > a {
	transform: skewX(25deg);
}

.charts > li:nth-child(odd)::after {
	right: -50%;
	transform: skewX(-25deg) rotate(3deg);
}				

/* Even numbered entries */
.charts > li:nth-child(even){
	transform: skewX(25deg) translateX(0);
}

.charts > li:nth-child(even) > a {
	transform: skewX(-25deg);
}

.charts > li:nth-child(even)::after {
	left: -50%;
	transform: skewX(25deg) rotate(3deg);
}

/* Showing dropdown */
.charts,
.charts li {
	opacity: 0;
	visibility: hidden;			
}

.charts li {
	transition: .2s ease-out transform;
}

.menu > li:hover .charts,
.menu > li:hover .charts li {
	opacity: 1;
	visibility: visible;
}		

.menu > li:hover .charts li:nth-child(even){
	transform: skewX(25deg) translateX(15px);			
}

.menu > li:hover .charts li:nth-child(odd){
	transform: skewX(-25deg) translateX(-15px);			
}